@font-face {
    font-family: Norse-Bold;
    src: url("./assets/Norse-Bold.otf");
}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --left-width: 40vw;
    --right-width: calc(100vw-var(--left-width))
}

#root {
    display: flex;
}

body {
    margin: 0;
}

/* ###### Left Half ###### */

#left {
    background: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--left-width);
    height: 100vh;
    flex-shrink: 0;
}

#logo {
    height: 80px;
}

#title {
    margin-left: 20px;
    font-family: Norse-Bold, sans-serif;
    font-size: 60px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 1px;
}

#left>div {
    position: absolute;
    display: flex;
    top: 30vh;
    color: rgb(255, 255, 255);
    width:var(--left-width);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

/* ###### Right Half ###### */

#right1 {
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    align-items: end;
    width: 80%;
    min-height: 200px;
    height: 40vh;
    padding-left: 20px;
}

#right2 {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

#right2>h3 {
    display: block;
    width: 100%;
    margin-top: 0;
}

#right3 {
    min-height: 200px;
    height: 40vh;   
    padding-left: 20px;
    padding-top: 20px; 
}

#button-createAccount {
    background-color: #596D48;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    height: 30px;
    width: 120px;
}

#right {
    width: var(--right-width);
    background-color: rgba(255, 255, 255, 0.97);
}

form {
    flex-grow: 0;
    display: flex;
    gap: 40px;
}



label, input {
    display: block;
}

input {
    border-radius: 3px;
    background-color: #fefefe;
    border: 1px solid #E5E7EB;
    margin-bottom: 15px;
    width: 200px;
}

input:focus {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(0, 145, 255);
    outline: none;
}

.invalid {
    background-color: pink;
}

input:invalid:focus {
    background-color: pink;
}

label {
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(30, 30, 30);
    text-transform: uppercase;
}
